* {
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 209, 196);
  height: 100vh;
}

.smoke {
  display: flex;
  z-index: 1;
  visibility: hidden;
}

.smoke span {
  position: relative;
  bottom: 40px;
  margin: 0 2px 50px;
  min-width: 10px;
  height: 120px;
  border-radius: 50%;
  background-color: grey;
  filter: blur(5px);
  opacity: 0;
  animation: flame 3s linear infinite;
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes flame {
  0% {
    transform: translateY(0) scaleX(5);
  }
  20% {
    opacity: 1;
  }

  50% {
    transform: translateY(-100px) scaleX(10);
  }
  100% {
    opacity: 0;
  }
  100% {
    transform: translateY(-200px) scaleX(20);
  }
}
.cigarette {
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: rotate(8deg);
}

.front {
  float: left;
  width: 200px;
  height: 20px;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 4px 15px 5px rgb(121, 115, 115);
}

.back {
  float: left;
  left: 80%;
  width: 100px;
  height: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #e09123;
  box-shadow: 0px 15px 5px rgb(121, 115, 115);
}

.pack {
  margin-left: 10px;
  width: 5px;
  height: 20px;
  position: absolute;
  background-color: white;
}

.fire {
  margin-left: -1px;
  width: 10px;
  height: 20px;
  position: absolute;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  animation: fire 5s linear infinite;
  filter: brightness(200%);
}

@keyframes fire {
  0% {
    background-color: black;
  }

  50% {
    background-color: #ff9a00;
  }

  100% {
    background-color: #ff0000;
  }
}

.plate {
  position: absolute;
  width: 500px;
  height: 140px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 20px 20px rgb(121, 115, 115);
  border: 5px double gray;
  background-image: linear-gradient(to right, white, silver);
}

.inner_plate {
  position: absolute;
  left: 35%;
  top: 35%;
  width: 150px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid gray;
  background-image: linear-gradient(to right, white, silver);
}

@media only screen and (min-width: 600px) {
  .cigarette,
  .smoke {
    visibility: visible;
  }
}
